@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px !important;
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #content{
        width: 100% !important;
        &.active {
            width: calc(100% - 300px) !important;
        }
    }
    .navbar {
        width: 100% !important;
    }
    #content.active {
        .navbar {
            width: calc(100% - 300px) !important;
        }
    }
    .login {
        form {
            padding: 2em !important;
        }
    }
}

@media (max-width: 425px) {
    .login {
        margin-top: 2em !important;
    }
}