@import 'variables';

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    background: $navbar;
    &.active {
        margin-left: -300px;
    }
}

#content {
    width: calc(100% - 300px);
    min-height: 100vh;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    &.active {
        width: 100%;
    }
    .main {
        padding: 8rem 3rem;
    }
}

.btn {
    font-weight: 500;
    display: flex;
    justify-items: center;
    margin: auto;
    padding: 1em 2em 1em 2em;
    border-radius: 0.4em;
    transition: $transition;
    img {
        width: 1em;
        margin: auto;
        margin-left: 1em;
    }
}

.btn-primary {
    background: $primary;
    color: $white;
    border: $primary;
    &:hover{
        background: darken( $primary, 10% );
    }
}