@import 'variables';

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $navbar;
    transition: all 0.3s;
    &.active {
        margin-left: -250px;
    }
    background: $navbar;
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    &.active {
        width: 100%;
    }
    .main {
        padding: 2em;
    }
}
