@import '../assets/css/variables';

.table {
    box-shadow: 0 0 0.875rem rgba(41, 48, 66, 0.051);
    background: $navbar;
    border-collapse: collapse !important;
    border-radius: 0.6em;
    th {
        padding: 1em;
        font-weight: 400;
        border-bottom: 0.15em solid darken($navbar, 5%) !important;
        border-right: 0.15em solid darken($navbar, 5%) !important;
        &:last-child {
            border-right: none !important;
        }
    }
    td, .idNumber {
        border: none !important;
        padding: 1em;
        font-weight: 400;
        border-right: 0.15em solid darken($navbar, 5%) !important;
        &:last-child {
            border-right: none !important;
        }
    }
    tr {
        border-bottom: 0.15em solid darken($navbar, 5%) !important;
        &:last-child {
            border-bottom: none !important;
        }
    }
    thead {
        vertical-align: middle !important;
        border-bottom: none !important;
        th {
            font-weight: 600;
        }
    }
    tbody {
        vertical-align: middle !important;
    }
}