table {
    counter-reset: rowNumber;
  }
  
table tbody tr {
    counter-increment: rowNumber;
  }
  
table tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    cursor: text;
}