@import '../../assets/css/variables';

.navbar {
    background: $navbar;
    padding: 1.5em 1em;
    position: fixed;
    width: 100%;
    .close-btn {
        border: 0;
        background: none;
        width: 2.5em;
    }
}
