@import '../../assets/css/variables';

.navbar {
    background: $navbar;
    padding: 0.8em;
    position: fixed;
    width: 100%;
    .close-btn {
        border: 0;
        background: none;
        font-size: 1.4em;
    }
}
