@import 'variables';

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    background: $navbar;
    &.active {
        margin-left: -300px;
    }
}

#content {
    width: calc(100% - 300px);
    min-height: 100vh;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    &.active {
        width: 100%;
    }
    .main {
        padding: 7rem 3rem 5rem 3rem;
    }
}

.btn {
    font-weight: 500;
    margin: auto;
    padding: 1em 2em 1em 2em;
    border-radius: 0.4em;
    transition: $transition;
}

.btn-primary {
    background: $primary;
    color: $white;
    border: $primary;
    &:hover, &:active, &:focus {
        background: darken( $primary, 10% );
    }
}

.main {
    transition: all 0.4s ease-in-out;
}

form {
    border-radius: 0.6em;
    .form-control {
        padding: 1.5em;
        border: 0;
        border-radius: 0.4em;
        background: $navbar;
        margin-top: 1.5em;
        font-weight: 500;
        border: 1px solid $main !important;
        &:focus {
            border: 1px solid darken($navbar, 30%) !important;
        }
        &:first-child {
            margin-top: 0;
        }
    }
}