@import '../../assets/css/variables';

.sidebarLogo {
    display: flex;
    justify-items: center;
    margin: auto;
    width: 5em;
    padding: 3em 0;
}

.side-navbar {
    margin-top: 2em;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    .side-navbar-item {
        width: inherit;
        &:hover {
            color: $white;
        }
        a {
            display: flex;
            flex: 1 1;
            align-items: center;
            padding: .8445rem 3rem;
            white-space: nowrap;
            color: #a0a5bc;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            font-weight: 500;
            &.active, &:hover {
                color: $black;
                // background: $secondary;
            }
            i {
                padding-right: 1em;
            }
        }
    }
}

#sidebar {
    .addNew {
        background: $primary;
        border: $primary;
        color: $white;
        font-weight: 500;
        display: flex;
        justify-items: center;
        margin: auto;
        padding: 1em 2em 1em 2em;
        border-radius: 0.6em;
        img {
            width: 1em;
            margin: auto;
            margin-left: 1em;
        }
    }
}