@import '../../assets/css/variables';

.sidebarLogo {
    display: flex;
    justify-items: center;
    margin: auto;
    width: 8em;
    padding: 2em 0;
}

.side-navbar {
    margin-left: -1em;
    margin-right: 1em;
    list-style: none;
    overflow: hidden;
    .side-navbar-item {
        padding: 1em 0em;
        transition: all 0.2s ease-in-out;
        border-radius: 0.3em;
        &:hover {
            color: $white;
            background: #bfdffd;
        }
        a {
            color: $black;
            text-decoration: none;
            padding: 1.2em 0em 1.2em 2em;
            padding-right: 100%;
        }
    }
}