@import '../../assets/css/variables';

.sidebarLogo {
    display: flex;
    justify-items: center;
    margin: auto;
    width: 8em;
    padding: 2em 0;
}

.side-navbar {
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    .side-navbar-item {
        width: inherit;
        &:hover {
            color: $white;
        }
        a {
            display: flex;
            flex: 1 1;
            align-items: center;
            padding: .8445rem 3rem;
            white-space: nowrap;
            color: #a8a8a8;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            font-weight: 500;
            &.active, &:hover {
                color: $primary;
                // background: $secondary;
                border-right: 3px solid $primary;
            }
            i {
                padding-right: 1em;
            }
        }
    }
}