@import '../../../assets/css/variables';

.btn-delete {
    background: none;
    border: 0;
    svg {
        fill: $red;
        height: 2em;
        width: auto;
        transition: $transition;
        &:hover, &:focus, &:active {
            fill: darken($red, 15%);
        }
    }
}

.btn-edit {
    background: none;
    border: 0;
    color: $green;  
    transition: $transition;
    &:hover, &:focus, &:active {
        color: darken($green, 15%);
    }
}